<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)"    
>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input  type="text" 
                class="form-control" 
                id="nombre" 
                placeholder="Ingresar nombre..."
                [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let resultado of searchResults;">{{resultado}}</li>
        </ul>       
        <small class="text-danger" *ngIf="fg.controls['nombre'].hasError('required')">Nombre requerido</small><br>
        <small class="text-danger" *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre invalido</small><br>
        <small class="text-danger" *ngIf="fg.controls['nombre'].hasError('minLongNombre')">Nombre debe tener al menos {{minLongitud}} de largo!</small>
    </div>
    <div class="form-group">
        <label for="Imagen	Url">Imagen Url</label>
        <input  type="text" 
                class="form-control" 
                id="imagenUrl" 
                placeholder="Ingresar url..." 
                [formControl]="fg.controls['url']">
        <small class="text-primary">Ejemplo: https://placeimg.com/380/230/nature</small><br>
        <small class="text-danger" *ngIf="!fg.controls['url'].valid">Url invalido</small><br>
        <small class="text-danger" *ngIf="fg.controls['url'].hasError('required')">Url requerido</small>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>