<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback	-->
            <div class="card card-outline-secondary">
                <div class="card-header bg-primary">
                    <h3 class="mb-0 text-white">Whishlist</h3>
                </div>
                <div class="card-body">
                    <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item bg-primary text-white">Actividad</li>
            <li class="list-group-item" 
                *ngFor="let update of updates">
                {{ update  }}
            </li>
        </ul>
    </div>

    <hr class="mb-5">

    <div class="row">
        <app-destino-viaje 
            *ngFor="let destino of all; let i = index" 
            [destino]="destino"
            [idx]="i+1"
            (click)="elegido(destino)" 
            appEspiame
        >
        </app-destino-viaje>
    </div>
</div>