<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img src="{{ destino.imageUrl }}" alt="">
        <span>
            <h4>{{ position }}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{ destino.nombre }}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let servicio of destino.servicios">
                <span [ngSwitch]="servicio">
                    <i *ngSwitchCase="'desayuno'" style="color: red;">{{servicio}}</i>
                    <i *ngSwitchDefault>{{servicio}}</i>
                </span>
            </li>
        </ul>

        <button class="btn-card" (click)="ir()">Ir!</button>
        <p *ngIf="destino.isSelected()">
            <span ngNonBindable>{{ PREFERIDO }}</span>
        </p>
       <a [routerLink]="['/destino', destino.id]">Ver Detalles</a>
    </div>
    <div class="card-footer">
        <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"> 
            <i class="material-icons md-18">thumb_up</i>
        </a>
        &nbsp;
        <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item"> 
            <i class="material-icons md-18">thumb_down</i>
        </a>
        &nbsp;
        {{destino.votes}}
        <button (click)="reset()" class="btn btn-small btn-info mx-2">Reset</button>
    </div>

</div>