<div class="container content">
  
  <div style="float: right;"> 
    <select (change)="translate.use($event.target.value)">
      <option value="es">Español</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div>

  <div class="page-header">
    <div class="container">
      <h1>Ruteo simple</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
        <!--<a [routerLink]="['/destino']">Destino</a>-->
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="d-flex justify-content-center">
      <h1 class="">
      {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
      </h1>
    </div>
  
  </div>
  
  <router-outlet></router-outlet>
</div>

<hr class="mb-5">

Fecha: {{ time | async }} 