<p>destino-detalle works!
    Detalles: 
    <br>
    {{ destino.id }} 
    <br>
    {{ destino.nombre }} 
</p>

<mgl-map
      [style]="style"
      [zoom]="[2]"
      >
      
      <mgl-marker [lngLat]="[-75.551012, 10.421185]">
          <div onClick="alert('hola')" class="marker">
            Hola mundo!
          </div>

      </mgl-marker>
</mgl-map>